:root {
  --primary-color: #0c4e85;
  --secondary-color: #f6f6f6;
  --accent-color: #25c280;
}
html {
  font-family: sans-serif;
}

body {
  margin: 5rem;
  color: #000;
  display: flex;
}

.box {
  text-align: center;
  max-width: 600px;
  width: 100%;
  margin: auto;
  border: 3px solid var(--accent-color);
  padding: 2rem;
}
h1 {
  color: var(--primary-color);
}
